services:
  apphost:
    container_name: codexsun-apphost
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      DOTNET_ENVIRONMENT: Development
      ASPIRE_ALLOW_UNSECURED_TRANSPORT: "true"
      ASPNETCORE_URLS: http://0.0.0.0:7040
      ASPIRE_DASHBOARD_OTLP_ENDPOINT_URL: http://0.0.0.0:7045
      ASPIRE_DASHBOARD_MCP_ENDPOINT_URL: http://0.0.0.0:7046
      ASPIRE_RESOURCE_SERVICE_ENDPOINT_URL: http://0.0.0.0:7047
      Database__Master__ConnectionString: server=mariadb;port=3306;database=codexsun_dev;user=root;password=Computer.1;
      Database__Tenant__ConnectionStringTemplate: server=mariadb;port=3306;database={database};user=root;password=Computer.1;
    ports:
      - "7040:7040"
      - "7041:7041"
      - "7042:7042"
      - "7043:7043"
      - "7045:7045"
      - "7046:7046"
      - "7047:7047"
    networks:
      - codexion-network

networks:
  codexion-network:
    external: true
    name: codexion-network
